/* --- section-heading --- */
.section-heading {
	margin-bottom: 35px;
	text-align: center;
}
	
.section-heading h2 {
	font-size: 38px;
}
	
.section-heading .heading-line {
	margin:0 auto;
	display: block;
	height: 1px;
	width: 80px;
	background: #333;
	margin-bottom: 20px;
}

/* ---  --- */

/* ---  --- */
.btn {
	border: none;
	background-color: #f5f5f5;
}

/* --- panel --- */
.panel {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}



.input-group .form-control {
    margin: 0px !important;
}




/* --- list --- */
.list {
	text-align: center;
	list-style-type: none;
	list-style-position: inherit;
}


/* --- from-control for text-input field --- */
.form-control {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

